.corpo {
  background-color: #f3f5fc;
}

.logo {
  margin: 60px;
}
.main {
  margin: auto;
  max-width: 1450px;
  display: grid;
  grid-template-columns: 100px 1fr 350px;
  margin: 1fr;
}
.texto-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-texto {
  grid-column: 1 / -1;
  margin: 120px 100px;
  max-width: 700px;
  justify-self: center;
}
#area_texto {
  resize: none;
  padding: 30px;
  border: none;
  font-size: 30px;
  font-family: roboto;
  color: #0a3871;
  background-color: #f3f5fc;
  font-family: sans-serif;
}
#area_texto::placeholder {
  color: #0a3871;
}
#area_texto:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.alerta {
  justify-self: center;
  grid-column: 1/-1;
  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #65778d;
}
.botao_area {
  justify-self: center;
  grid-column: 1/-1;
}

.criptografar {
  font-size: 20px;
  margin: 20px;
  padding: 10px 40px;
  border-radius: 15px;
  box-shadow: 0 0 0 0;
  border: none;
  background-color: #0a3871;
  color: #f3f5fc;
}
.criptografar:active {
  background-color: #03254e;
}

.descriptografar {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  padding: 10px 23px;
  border-radius: 15px;
  box-shadow: 0 0 0 0;
  border: #0a3871 solid 1px;
  background-color: #f3f5fc;
  color: #0a3871;
}
.descriptografar:active {
  background-color: #cbd4df;
}

.resultado-area {
  box-sizing: border-box;
  width: 300px;
  height: 670px;
  margin-top: 75px;
  padding: 30px 20px 0 20px;
  background-color: #fbfaff;
  border-radius: 15px;
  font-size: 28px;
  color: #03254e;
  font-family: sans-serif;
  text-align: center;
  filter: drop-shadow(0px 10px 5px rgb(226, 226, 233));
}
.resultado {
  overflow-wrap: break-word;
  width: 250px;
  height: 540px;
  margin-top: 30px;
  border-radius: 15px;
  font-size: 28px;
  color: #03254e;
  font-family: sans-serif;
  text-align: center;
}

.semimagem {
  margin-top: 120px;
  width: 250px;
}
.titulo-semimg {
  margin-top: 30px;
  font-weight: bold;
  font-size: 25px;
  color: #021935;
}
.resumo-semimg {
  margin-top: 20px;
  font-size: 18px;
  color: #304d70;
}

.botao-copiar {
  background-color: #fbfaff;
  border: #0a3871 solid 1px;
  color: #0a3871;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px 80px;
  margin: 10px;
  transition: background-color 0.6s ease;
}
.verde {
  background-color: #18ad20;
  border: #18ad20 solid 1px;
  border: none;
  color: #e8f8e8;
  padding: 10px 72px;
  transition: background-color 0.6s ease;
}
.botao-copiar:active {
  background-color: #e1e5eb;
}

footer {
  grid-column: 1/-1;
  margin-top: 50px;
  background: #03254e;

}
.div-footer {
  color: #e1e5eb;
  text-align: center;
  padding: 20px;
}

.p1 {
  padding-top: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.p2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

/*---------------Media Query--------------------------*/
@media (max-width:925px){
  .main{
    display: block;
  }
  .logo{
    margin: 20px;
  }
  #area_texto{
    text-align: center;
    margin: auto;
  }
  .semimagem{
    display: none;
  }
  .resultado-area{
    text-align: center;
    padding: 20px 0 50px 0;
    width: auto;
    height: auto;
  }
  .resultado{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}


@media (max-width: 649px) {
  .main {
    display: block;
    align-items: center;
  }
  .semImagem {
    margin-bottom: 50px;
  }
  .semimagem {
    display: none;
  }
  .grid-texto{
    margin: 30px 0;
    width: auto;
  }
  .texto-area{
    display: block;
    max-width: 100%;
  }
  .botao_area{
    display: grid;
  }
  .alerta{
    text-align: center;
  }
  #area_texto {
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
    margin: 0;
  }

  .area_texto {
    box-sizing: border-box;
    max-width: 100%;
  }
  .resultado-area {
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .resultado {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .botao-area {
    display: block;
    width: auto;
  }
}
